<p id="notice"><%= notice %></p>

<h1>LIstado de Recursos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Initials</th>
      <th>Max Unidades</th>
      <th>Costo</th>
      <th>Proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.initials %></td>
        <td><%= resource.max_units %></td>
        <td><%= resource.cost %></td>
        <td><%= resource.project_id %></td>
        <!--td><%= link_to 'Show', [@project,resource] %></td-->
        <!--td><%= link_to 'Edit', edit_project_resource_path(@project,resource) %></td-->
        <!--td><%= link_to 'Destroy', [@project,resource], method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Resource', new_project_resource_path %-->
