<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task_id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @assignment.resource_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @assignment.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @assignment.finish %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
