<p id="notice"><%= notice %></p>

<h1>Proyectos</h1>

<br>
<div id="grid_projects" style="width: 100%; height: 400px;"></div>
<br>

<%= button_to "Importar Proyecto", new_project_path , method: :get %>
<!--<input type="button" value="Nuevo Projecto" onclick="grid.addRow(grid.uid(),['Nuevo Proyecto','',0,0])" />
<input type="button" value="Borrar"  onclick="if (confirm('Esta seguro que desea borrar este proyecto?')){grid.deleteSelectedRows();}" />-->

<br>
<br>
<br>

<script type="text/javascript" charset="UTF-8">
    var grid = new dhtmlXGridObject("grid_projects");
    grid.setImagePath("assets/imgs/");
    grid.setHeader("Nombre Proyecto, Nombre Archivo,N° Resources ,N° Task, Detalle ");
    grid.setColSorting("str,str,int,int,str");
    grid.setColTypes("ed,ro,ro,ro,ro");
    grid.setInitWidths("*,250,100,100,80");
    grid.setSkin("dhx_skyblue");
    grid.init();
    grid.load("<%= data_grid_path %>", "json");
    var dp_grid = new dataProcessor("<%= datagrid_action_path %>");
    dp_grid.init(grid);
</script>